*{
	margin: 0;padding: 0;
}
body{
	min-height: 100vh;
	min-width: 100vw;
}
#map { 
	height:100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.popup {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 5;
}
.info {
	max-width: 600px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 0 auto;
	flex-direction:column;
}
.info  div {
	width: 90%;
	min-height: 50px;
	background-color: #fff;
	border: 2px solid #3d8c40;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:10px;
	padding: 00px;
	font-size: 1.5rem;
}
.info span {
	font-weight: 800;
	color: #3d8c40;
}

.img{
	height: auto;
	max-height: 340px;
	object-fit: cover;
	padding: 0;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.img h3 {
	height: 40px;
}
.img img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

#dir{
	background:#3d8c40;
	color: #fff;
	width: auto;
	padding: 5px 20px;
	height: 50px;
}
.hidden {
	display: none;
}
.btns {
	display: flex;
	justify-content: center;
	gap:20px;
	align-items: center;
	border: none !important;
}
.dashbtn {
	width: auto;
	height: 50px;
	padding: 5px;
	border-radius: 5px;
	background-color: #3d8c40;
	color: #fff;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	font-size: 1.5rem;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50px;

}
.dashbtn:hover{
	cursor: pointer;
}
